:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #9A6CFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    height: 100;
    box-sizing: border-box;
    align-items: center;
    padding: 1rem;
    margin-top: 100px; 
    }
h1{
        font-size: 2.5rem;
        font-weight: 700;
        color: white;
        margin-bottom: 1rem;
        text-align: center;
        background-image: url(../TODOLIST/header2.jpg);
        border-radius: 5rem;
        padding: 1rem;
    }
#item{
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    color:red;
    font-weight: 50;
    font-size: 35px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    }

#dfg{
    padding: 0.5rem 1rem;
    outline:none;
    height: 60px;
    border-radius: 25px 25px 25px 20px;
    width: 500px;
    margin: 0.40rem;
    transform: .5s;
    font-size: 20px;
    }

.jkl{
   display: flex;
   justify-content: center;
    }

.con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

#adbt{
    outline: none ;
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #a0cc00;
    width: 90px;
    color: white;
    cursor: pointer;
    transform: 0.5s;
    margin: 0.25rem;
    }

#adbt:hover{
    background-color: #ee830a;
    color:rgb(255, 226, 226);
    }

.del{ 
    outline: none ;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #b1eb45;
    width: 70px;
    color: white;
    cursor: pointer;
    transform: 0.5s;
    margin: 0.25rem;
    }
.del:hover{
    background-color: red;
    }

.strike{
    outline: none ;
    border: none;
    border-radius: 10px;
    height: 40px;
    background-color: #b1eb45;
    width: 70px;
    color: white;
    cursor: pointer;
    transform: 0.5s;
    margin: 0.25rem;
    }

.strike:hover{
    background-color: rgba(255, 0, 0, 0.267);

    }

p{
    border:50px;
    padding: 20px 100px;
    height: 60px;
    width: 440px;
    }